<% content_for :title  do %>
  <div class="flex justify-between align-middle text-base mb-5">
  <span class="text-4xl">
    Archived Categories
  </span>
    <%= link_to 'New category', new_category_path, class: "rounded-lg py-3 px-5 bg-cyan-600 text-white block font-medium" %>
  </div>
<% end %>

<% @teams.each do |team| %>
  <div class="border-b border-gray-200 pb-5 mb-7">
    <h3 class="flex justify-between align-middle text-lg font-medium leading-6 text-gray-900">
      <div class="inline-block">
        <%= image_tag team.owner.gravatar_url, class: "h-12 w-12 rounded-full mr-5 inline"%>
        <%= team.name %>
      </div>

    </h3>
  </div>
  <!--  <h2 class="text-xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight mb-3"><%#= team.name %></h2>-->
  <div class="overflow-hidden bg-white shadow sm:rounded-md mb-10">
    <ul role="list" class="divide-y divide-gray-200">
      <%= render team.archived_categories %>
    </ul>
  </div>
<% end %>
